/* Gobal */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
  font-family: 'Raleway', sans-serif;
  color: #FFFFFF;
  height: 100vh;
  background: linear-gradient(20deg, #c07b4f 10%, #ae9354, #68b285 80%);
}

/* Style for header */

.navbar-container {
  background: rgba(255, 2555, 255, 0.4);
  border: none;
}

[alt="user"] {
  width: 3rem;
  border-radius: 100%;
}

.container-img-icon {
  display: flex;
}

.container-close {
  display: flex;
  justify-content: center;
  align-items: center; 
  color: #fff;
}

.container-icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.icon {
  font-size: 3rem;
}

.border {
  border: 1px solid;
  border-style: dashed
}

/* Style for views collage*/

.imagen {
  width: 70px;
  height: 70px;
  float: left;
}

/* contenedores*/
[data-container ] {
  height: 300px;
  width: 100%;
  margin: 1rem;
  background-color: rgba(154,154,154, 0.5);
  float: left;
}

.line{
  outline: 1px solid red;
}

.container-collage-img {
  width: 100%;
  height: 100%;
}

.container-collage {
  width: 100%;
  height: 50%;
}

hr {
  margin: 0;
}

.container-padding {
  padding: 0;
}

@media (min-width: 992px) {
  [data-container ] {
    height: 450px;
    width: 100%;
    margin: 1rem;
    background-color: rgba(154,154,154, 0.5);
    float: left;
  }

  .imagen {
    width: 180px;
    height: 180px;
    float: left;
  }
 }
