/* Gobal */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
  font-family: 'Raleway', sans-serif;
  color: #FFFFFF;
  height: 100vh;
  background: linear-gradient(20deg, #c07b4f 10%, #ae9354, #68b285 80%);
}

/* Style for language */

.text {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* Style for sign up */

.section-sign-up {
  margin-bottom: 4rem;
}

.title {
  font-family: 'Satisfy', cursive;
}

.focus-input {
  border: none;
  padding: 2.3rem;
}

.transparent {
  background: rgba(255, 255, 255, 0.2)
}

.transparent::-webkit-input-placeholder {
  color: #fff;
}

.button-next {
  background: transparent;
  color: #fff;
  border-color: #fff;
}

.content {
  margin-top: 0;
}

.content::before {
  width: 4%;
  position: absolute;
  background-color: #ae9354;
  display: inline-block;
  font-size: 1em;
  color: #fff;
  top: -0.7em;
  text-align: center;
  content: 'O';
}

.link {
  color: #fff;
  font-weight: 800;
}

.icon {
  margin-right: 1rem;
}

.link-button {
  background: none;
  border: 0;
}

/* Style for view sign-up */

.space {
  margin-bottom: 2rem;
}

.container-input {
  margin-bottom: 3rem;
}
