/* Gobal */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
  font-family: 'Raleway', sans-serif;
  color: #FFFFFF;
  height: 100vh;
  background: linear-gradient(20deg, #c07b4f 10%, #ae9354, #68b285 80%);
}

/* Style for sign up */

.focus-input {
  border: none;
}

.transparent {
  background: rgba(255, 255, 255, 0.2)
}

.transparent::-webkit-input-placeholder {
  color: #fff;
}

.button-next {
  background: transparent;
  color: #fff;
}




